/* Calendar.css */
.calendar-container {
    border-radius: 10px;
    /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Box shadow for depth */
    padding: 20px;
    /* Add padding */
    width: 400px;
    /* Set width to 400px */
    height: 370px;
    /* Set height to 400px */
    margin: 20px;
    /* background: linear-gradient(to top left, #523602, #b97902); */
    background: linear-gradient(to top left, #888888, #ffffff);
}

.calendar-header {
    font-size: 30px;
}

.close-button {
    background-color: #e0e0e0;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.popup-header {
    display: flex;
    align-items: center;
}

.select-box {
    margin-right: 10px;
}


.day-box {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* background-color: transparent;  */
    color: black;
    /* Set default text color */
}


.selected {
    background-color: #026fe4;
}


.calendar-table {
    margin: 0 auto;
    /* Center the table horizontally */
}


.calendar-table tbody tr {
    display: flex;
    /* Display table rows horizontally */
}

.calendar-table tbody tr td {
    font-size: 30px;
}

.calendar {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: auto;
    gap: 20px;
    padding-top: 20px;
}

.day-box:hover {
    /* background-color: white;  */
    background-color: #007bff;
}

.unavailable-day {
    background-color: red;
}

/* Media query for screens smaller than 495px */
@media screen and (max-width: 495px) {

    /* Calendar.css */
    .calendar-container {
        border-radius: 10px;
        /* Rounded corners */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        /* Box shadow for depth */
        width: 300px;
        /* Set width to 400px */
        height: 300px;
        /* Set height to 400px */
    }

    .calendar-header {
        font-size: 30px;
    }


    .calendar-table tbody tr td {
        font-size: 20px;
    }

    .day-box {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        line-height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        /* background-color: transparent;  */
        color: black;
        /* Set default text color */
    }
}

@media screen and (max-width: 390px) {

    /* Additional styles for screens smaller than 390px */
    .calendar {
        gap: 10px
    }

    /* Adjustments to existing styles */
    .calendar-container {
        width: 200px;
        /* Decrease width */
        height: 220px;
        /* Decrease height */
        padding: 0;
    }

    .calendar-header {
        font-size: 24px;
        /* Decrease font size */
        margin-top: 15px;
    }

    .calendar-table tbody tr td {
        font-size: 16px;
        /* Decrease font size */
    }

    .day-box {
        width: 22px;
        /* Decrease width */
        height: 22px;
        /* Decrease height */
        line-height: 25px;
        /* Adjust line-height */
    }
}