.reservations-page {
    background-color: rgb(255, 255, 255);
    height: 100%;
}

.reservations-container {
    margin: 20px;
}

.reservations-container button {
    padding: 8px;
    box-sizing: border-box;
    color: #fff;
    border: none;
    cursor: pointer;
}

.loading-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.reservations {
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;
    gap: 10px;
}

.reservation {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    /* Adjust margin to create space between reservations */
    width: 100%;
    /* Set width to 100% to make each reservation take up full width */
    background-color: white;
}

.reservation button {
    background-color: #007bff;
}

.reservation h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.reservation {
    border: none;
    width: 100%;
    /* Set width to 100% to make each reservation take up full width */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    padding: 15px 15px;
}

.reservations-container {
    margin: 0px;
}

.reservation-details-container {
    display: flex;
    /* Use flexbox */
    flex-direction: row;
    gap: 10px;
    width: auto;
    align-items: center;
    justify-content: center;
    padding: 15px 0px;
    flex-wrap: wrap;
}

.reservation-details {
    border: 0px solid #ccc;
    padding: 10px 0;
    background-color: #d0d0d0;
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 15px;

}

.state-img {
    height: 120px;
    width: auto;
    margin: 0;
}

.reservation-customer-info {
    padding-left: 10px;
}

.reservation-customer-info p {
    margin: 10px;
    font-size: 20px;
}

.reservation-state-info {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.reservation-order {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-right: 10px;
    z-index: 1;
}

.reservation-info {
    display: flex;
    flex-direction: row;
}

.state-title {
    margin: 0;
}

.reservation-info-button {
    height: 22px;
    width: auto;
}

.reservation-info-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.reservation-info-details-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2px;
}


@media screen and (max-width: 830px) {

    .reservation {
        border: none;
        width: 100%;
        /* Set width to 100% to make each reservation take up full width */
        margin: 0 0;
        padding: 0 20px;
    }

    .reservations-container {
        margin: 0px;
    }

    .reservation-details-container {
        display: flex;
        /* Use flexbox */
        flex-direction: column;
        gap: 5px;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .reservation-details {
        border: 0px solid #ccc;
        margin: 0;
        background-color: #d0d0d0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .state-img {
        height: 70px;
        width: auto;
        margin: 0;
    }

    .reservation-customer-info {
        padding-left: 10px;
    }

    .reservation-customer-info p {
        margin: 10px;
        font-size: 16px;
    }

    .reservation-state-info {
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
        justify-content: center;
    }

    .reservation-order {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
        justify-content: center;
        position: relative;
        padding-right: 10px;
        z-index: 1;
    }

    .reservation-info {
        display: flex;
        flex-direction: row;
    }

    .state-title {
        margin: 0;
    }

    .reservation-info-button {
        height: 20px;
        width: auto;
    }

    .reservation-info-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2px;
    }

    .reservation-info-details-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2px;
    }

}

.reservation-details ul li {
    /* list-style-type: circle; */
}

.reservation-details ul li {
    color: rgb(0, 9, 128);
}


.search-bar-container {
    display: flex;
    justify-content: center;
    width: 100%;
    /* Take up full width of the screen */
    position: fixed;
    z-index: 100;
    margin-top: 20px;
}

.reservations-container h2 {
    color: black;
}

.reservations-container h2::after {
    background-color: black;
}

.toggle-button {
    width: auto;
    width: 30px;
    /* Set width and height to the same value for a round button */
    height: 30px;
    /* Same value as width to make it round */
    margin-left: 10px;
    border-radius: 50%;
}

.search-bar {
    position: relative;
    /* Set position to relative */
    display: flex;
    align-items: center;
    /* Align items vertically */
    justify-content: center;
    width: calc(50%);
    margin-bottom: 20px;
}

.search-input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    /* Adjust border-radius to make corners more rounded */
    font-size: 16px;
}

.clear-button,
.sort-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 16px;
    width: auto;
    color: black;
}

.clear-button:hover,
.sort-button:hover {
    color: #007bff;
    /* Change this to your desired color */
    background-color: transparent;
}

.clear-button {
    position: absolute;
    /* Set position to absolute */
    top: 50%;
    /* Position the button vertically at the center */
    right: 30px;
    /* Position the clear button on the right side with some space */
    transform: translateY(-50%);
    /* Adjust vertical position */
}

.sort-button {
    position: absolute;
    /* Set position to absolute */
    top: 50%;
    /* Position the button vertically at the center */
    right: 0px;
    /* Position the clear button on the right side with some space */
    transform: translateY(-50%);
    /* Adjust vertical position */
    margin-left: 10px;
    /* Add margin between clear button and sort button */
    width: auto;
}

.sort-button:hover {
    background-color: transparent;
    /* Change background color to transparent on hover */
}

.sort-button img {
    width: 20px;
    margin: 0;
}

.sort-menu {
    position: absolute;
    /* Set position to absolute */
    top: calc(100% + 5px);
    /* Position the menu below the sort button with a small gap */
    right: 0;
    /* Align the menu with the right edge of the sort button */
    background-color: #fff;
    /* Set background color */
    border: 1px solid #ccc;
    /* Add a border */
    border-radius: 5px;
    /* Add border radius */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Add box shadow for depth */
    z-index: 1;
    /* Ensure the menu is above other content */
}

/* Add styles for the sort options */
.sort-option {
    padding: 10px;
    /* Add padding */
    cursor: pointer;
    /* Change cursor to pointer on hover */
}

.sort-option:hover {
    background-color: #f0f0f0;
    /* Change background color on hover */
}


/* Add styles to show the sort menu when it's open */
.sort-menu.open {
    display: block;
}

.sort-label {
    margin: 0;
    text-align: center;
    width: 100%;
}

.sort-label h2 {
    text-align: center;
    margin: 10px 0;
}

.sort-label h2::after {
    background-color: transparent;
}

.cancel-button {
    background-color: none;
    color: red;
}

/* Add styles to show the sort menu when it's open */
.canceled {
    background-color: red;
}

.canceled-text {
    color: red;
}

.accept-button {
    color: white;
    background-color: green;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.cancel-button {
    color: white;
    background-color: red;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.completed {
    background-color: green;
}

.completed-text {
    color: green;
}

.action-buttons {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.t {
    width: 100%;
}

.calendar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(to top left, #460000, #301f01); */
    background: linear-gradient(to top left, #007bff, rgb(0, 6, 80));
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    /* Add this to prevent clicks on the overlay when it's not visible */
    transition: opacity 0.5s ease-out;
    /* Add a transition for a smooth fade effect */
}

.calendar-overlay.visible {
    opacity: 1;
}

.calendar-button {
    background-color: transparent;
    /* Set the background color to transparent */
    border: none;
    z-index: 2000;
    position: fixed;
    width: auto;
    padding: 0;
    margin-top: 0px;
    /* Add any additional styling as needed */
}

.edit-button {
    background-color: transparent;
    /* Set the background color to transparent */
    border: none;
    z-index: 2000;
    position: fixed;
    width: auto;
    padding: 0;
    margin-top: 18px;
    right: 0;
    /* Add any additional styling as needed */
}

.save-button {
    background-color: transparent;
    /* Set the background color to transparent */
    border: none;
    z-index: 2000;
    position: fixed;
    width: auto;
    padding: 0;
    right: 48px;
    margin-top: 15px;
    /* Add any additional styling as needed */
}

.calendar-button:hover {
    background-color: transparent;
}

.edit-button:hover {
    background-color: transparent;
}

.save-button:hover {
    background-color: transparent;
}

.calendar-button img {
    width: 80px;
    margin: 0;
    /* Add any additional styling as needed */
}

.edit-button img {
    width: 45px;
    margin: 0;
    /* Add any additional styling as needed */
}

.save-button img {
    width: 50px;
    margin: 0;
    /* Add any additional styling as needed */
}

.no-reservations {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    width: 100%;
}

@media screen and (max-width: 700px) {


    .search-bar {
        position: fixed;
        /* Set position to relative */
        display: flex;
        margin-bottom: 20px;
    }

    .search-input {
        flex: 1;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 20px;
        /* Adjust border-radius to make corners more rounded */
        font-size: 12px;
        width: calc(70%);
    }
}

@media screen and (max-width: 575px) {

    .calendar-button {
        background-color: transparent;
        /* Set the background color to transparent */
        border: none;
        z-index: 2000;
        position: fixed;
        left: 5px;
        margin-top: 5px;
        /* Add any additional styling as needed */
    }

    .calendar-button img {
        width: 60px;
    }

    .dots-button {
        background-color: transparent;
        /* Set the background color to transparent */
        border: none;
        /* Add any additional styling as needed */
    }

    .dots-button img {
        height: 50px;
        width: 60px;
    }

    .reservations-button {
        background-color: transparent;
        /* Set the background color to transparent */
        border: none;
        /* Add any additional styling as needed */
    }

    .reservations-button img {
        width: 60px;
        height: 60px;
    }

    .orders-button {
        background-color: transparent;
        /* Set the background color to transparent */
        border: none;
        /* Add any additional styling as needed */
    }

    .orders-button img {
        width: 60px;
    }


    .search-bar {
        margin-bottom: 20px;
    }

    .search-input {
        flex: 1;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 20px;
        /* Adjust border-radius to make corners more rounded */
        font-size: 12px;
    }

    .edit-button img {
        width: 38px;
    }

    .save-button img {
        width: 42px;
    }
}

@media screen and (max-width: 450px) {

    .calendar-button {
        background-color: transparent;
        /* Set the background color to transparent */
        border: none;
        z-index: 2000;
        position: fixed;
        margin-top: 7px;
        /* Add any additional styling as needed */
    }

    .calendar-button img {
        width: 50px;
    }

    .dots-button {
        background-color: transparent;
        /* Set the background color to transparent */
        border: none;
        /* Add any additional styling as needed */
    }

    .dots-button img {
        height: 27px;
        width: 30px;
    }

    .reservations-button {
        background-color: transparent;
        /* Set the background color to transparent */
        border: none;
        /* Add any additional styling as needed */
    }

    .reservations-button img {
        width: 27px;
        height: 27px;
    }

    .orders-button {
        background-color: transparent;
        /* Set the background color to transparent */
        border: none;
        /* Add any additional styling as needed */
    }

    .orders-button img {
        width: 27px;
    }



    .search-input {
        flex: 1;
        padding: 120px;
        border: 1px solid #ccc;
        border-radius: 20px;
        /* Adjust border-radius to make corners more rounded */
        font-size: 12px;
    }

    .edit-button img {
        width: 28px;
    }

    .save-button img {
        width: 32px;
    }

    .save-button {
        right: 35px;
    }

}

.table-header {
    text-align: center;
}

.state-popup-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black background */
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 2000;
}

.state-popup-window-items {
    background-color: #007bff;
    position: relative;
    display: grid;
    /* Use grid layout */
    grid-template-columns: repeat(4, 1fr);
    /* 4 columns with equal width */
    gap: 20px;
    /* Gap between grid items */
    justify-content: center;
    align-items: center;
    width: 80%;
    border-radius: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.state-popup-window-item {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    justify-content: center;
}

.hidden {
    opacity: 0.5;
    /* Make the element partially transparent */
}

.order-items {
    display: flex;
    flex-direction: column;
}

.order-items ul {
    list-style-type: none;
    padding: 0;
}

.order-items ul li {
    margin: 0.5em 0;
    padding-left: 1em;
    text-indent: -0.7em;
}

.order-details-container {
    display: flex;
    /* Use flexbox */
    flex-direction: row;
    gap: 10px;
    width: auto;
    align-items: center;
    justify-content: center;
    padding: 15px 10px;
    flex-wrap: wrap;
}

.order-details {
    border: 0px solid #ccc;
    padding: 10px 0;
    background-color: #d0d0d0;
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 15px;
    padding: 15px 10px;
}

.order-details li {
    color: black;
}

.order-details p {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(0, 9, 128);
}

.order-details img {
    margin: 0;
}

.order-table-number {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.order-reservation-info {
    display: flex;
    flex-direction: column;
}

.table {
    border-radius: 5px;
    /* Adjust margin to create space between reservations */
    width: 100%;
    /* Set width to 100% to make each reservation take up full width */
    background-color: white;

}

.table-items {
    display: flex;
    flex-direction: column;
}

.table-details-container {
    display: flex;
    /* Use flexbox */
    flex-direction: row;
    gap: 10px;
    width: auto;
    align-items: center;
    justify-content: center;
    padding: 15px 10px;
    flex-wrap: wrap;
}

.table-details {
    border: 0px solid #ccc;
    padding: 10px 0;
    background-color: #d0d0d0;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    padding: 15px 10px;

}

.add-table-button {
    width: 50px;
    /* Adjust width as needed */
    height: 50px;
    /* Adjust height as needed */
    border-radius: 50%;
    /* Makes the button round */
    background-color: #007bff;
    /* Add your desired background color */
    /* Add any other styles you need */
}

.add-table-container {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
}

.table-popup-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black background */
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 2000;
}

.table-popup-window-container {
    position: fixed;
    width: 600px;
    background-color: white;
    /* Semi-transparent black background */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

.table-header {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.table-popup-window-container input[type="number"] {
    width: 70px;
}

.popup-add-table-button {
    width: auto;
    /* Adjust width as needed */
    height: 50px;
    /* Adjust height as needed */
    border-radius: 30px;
    /* Makes the button round */
    background-color: #007bff;
    /* Add your desired background color */
    /* Add any other styles you need */
}

.table-popup-window-container-item {
    display: flex;
    flex-direction: row;
}

.available-img {
    height: 40px;
    width: auto;
    margin-left: 10px;
    margin-right: 0;
}

.unavailable-img {
    height: 40px;
    width: auto;
    margin-left: 10px;
    margin-right: 0;
}

.add-reservation-button {
    width: 50px;
    /* Adjust width as needed */
    height: 50px;
    /* Adjust height as needed */
    border-radius: 50%;
    /* Makes the button round */
    background-color: #007bff;
    /* Add your desired background color */
    /* Add any other styles you need */
}

.add-reservation-container {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
}

.reservation-popup-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black background */
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 2000;
}

.reservation-popup-window-container {
    position: fixed;
    width: 600px;
    background-color: white;
    /* Semi-transparent black background */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

.reservation-popup-window-container input {
    border: 1px solid #ccc;
    border-radius: 5px;
}

.reservation-popup-window-container input[type="number"] {
    width: 70px;
}

.reservation-popup-window-container input[type="text"] {
    width: 100px;
}

.reservation-popup-window-container input[type="phone"] {
    width: 100px;
}

.reservation-popup-window-container input[type="email"] {
    width: 100px;
}

.reservation-popup-window-container h2::after {
    background-color: #000980;
}

.reservation-popup-window-container label {
    margin: 1em 0;
    color: #000980;
}

.table-popup-window-container h2::after {
    background-color: #000980;
}

.table-popup-window-container label {
    margin: 1em 0;
    color: #000980;
}

.edit-open {
    background-color: white;
    border-radius: 100px;
}

.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.menu-container p {
    font-size: 25px;
    color: rgb(0, 9, 128);
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.add-menu-item-button {
    width: 50px;
    /* Adjust width as needed */
    height: 50px;
    /* Adjust height as needed */
    border-radius: 50%;
    /* Makes the button round */
    background-color: #007bff;
    /* Add your desired background color */
    /* Add any other styles you need */
}

.add-menu-item-container {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
}

.menu-item-popup-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black background */
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 2000;
}

.menu-item-popup-window-container {
    position: fixed;
    width: 600px;
    background-color: white;
    /* Semi-transparent black background */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    gap: 10px;
}

.menu-item-popup-window-container input[type="number"] {
    width: 70px;
}

.menu-item-popup-window-container input[type="text"] {
    width: 100px;
}

.popup-add-menu-item-button {
    width: auto;
    /* Adjust width as needed */
    height: 50px;
    /* Adjust height as needed */
    border-radius: 30px;
    /* Makes the button round */
    background-color: #007bff;
    /* Add your desired background color */
    /* Add any other styles you need */
}

.menu-item-popup-window-container input {
    border: 1px solid #ccc;
    border-radius: 5px;
}

.menu-header h2 {
    font-size: 40px;
}

.menu-category-section {
    text-align: center;
    width: 100%;
}

.menu-category-section ul {
    padding: 0 20px;
}

.menu-category-section h2 {
    font-size: 35px;
    margin: 0;
}

.settings-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.settings-container input {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}

.save-settings-button {
    width: auto;
    /* Adjust width as needed */
    height: 50px;
    /* Adjust height as needed */
    border-radius: 30px;
    /* Makes the button round */
    background-color: #007bff;
    margin-top: 10px;
    /* Add your desired background color */
    /* Add any other styles you need */
}

.settings-fields {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.reservations-container .toggle-ingredients-button {
    width: 10px;
    color: black;
    background-color: transparent;
}

.menu-item-information {
    width: 100%;
    display: grid;
    grid-template-columns: 0.001fr 1fr 1fr 1fr;
}

.menu-item-ingredients {
    width: 100%;
}

.menu-item-ingredients p {
    margin-top: 0px;
}

.menu-item-ingredients ul {
    list-style-type: disc;
    /* Use disc bullets */
}

.menu-item-ingredients ul li {
    font-size: 25px;
    margin-bottom: 15px;
}

.ingredient-information {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0px;
}

.new-ingredient-information {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 0.1fr;
    grid-column-gap: 20px;
}

.save-blue-button {
    background-color: transparent;
    /* Set the background color to transparent */
    border: none;
    z-index: 2000;
    position: fixed;
    width: auto;
    padding: 0;
    margin-top: 13px;
    margin-left: 80px;
    /* Add any additional styling as needed */
}

.save-blue-button img {
    width: 56px;
    margin: 0;
    /* Add any additional styling as needed */
}

.save-blue-button:hover {
    background-color: transparent;
}

.accept-button {
    color: white;
    background-color: green;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.refresh-button {
    background-color: transparent;
    /* Set the background color to transparent */
    border: none;
    z-index: 2000;
    position: fixed;
    width: auto;
    padding: 0;
    right: 10px;
    margin-top: 12px;
    margin-right: 60px;
    /* Add any additional styling as needed */
}



.refresh-button:hover {
    background-color: transparent;
}

.refresh-button img {
    width: 40px;
    margin: 0;
    /* Add any additional styling as needed */
}

@media screen and (max-width: 575px) {

    .refresh-button {
        margin-top: 15px;
        /* Add any additional styling as needed */
    }

    .refresh-button img {
        width: 30px;
        margin: 0;
        /* Add any additional styling as needed */
    }
}

@media screen and (max-width: 575px) {
    .search-bar {
        width: 40%;
        right: 105px;
    }
}

@media screen and (max-width: 370px) {
    .search-bar {
        width: 30%;
        left: 110px;
    }
}

@media screen and (max-width: 690px) {
    .order-details {
        flex-direction: column;
        width: 80%;
    }

    .order-details ul {
        margin-left: 20%;
    }
}

@media screen and (max-width: 690px) {
    .menu-item-information p {
        font-size: 20px;
    }

    .menu-header h2 {
        font-size: 35px;
    }

    .menu-category-section h2 {
        font-size: 30px;
    }

    .menu-item-ingredients p {
        font-size: 20px;
    }

    .menu-item-ingredients ul {
        margin: 0;
        padding: 0;
    }

    .menu-item-ingredients ul li {
        font-size: 20px;
    }

    .menu-item-ingredients button {
        width: 30px;
        height: 30px;
        background-color: green;
        border-radius: 50px;
        font-size: 10px;
    }
}

@media screen and (max-width: 515px) {

    .ingredient-information {
        display: flex;
        flex-direction: column;
    }

    .new-ingredient-information {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

}


@media screen and (max-width: 575px) {
    .save-blue-button img {
        width: 45px;
    }

    .save-blue-button {
        margin-top: 13px;
        margin-left: 70px;
        /* Add any additional styling as needed */
    }

    .refresh-button {
        margin-right: 43px;
        /* Add any additional styling as needed */
    }
}

@media screen and (max-width: 450px) {
    .save-blue-button img {
        width: 37px;
    }

    .save-blue-button {
        margin-top: 13px;
        margin-left: 56px;
        /* Add any additional styling as needed */
    }
}