.reservation-details-reserve-table {
    width: 400px;
    height: 450px;
    margin: 0 auto;
    padding: 20px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
  }

  .loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
  }

  .reservation-details-reserve-table input{
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .reservation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set height to the viewport height */
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Add margin top for spacing */
  }
  
  .button-container button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    padding: 10px 20px;
    font-size: 16px;
    transition: background-color .3s;
  }
  
  .yes-button {
    background-color: #4caf50;
    color: white;
  }
  
  .no-button {
    background-color: #f44336;
    color: white;
  }

  .confirmation-text {
    text-align: center;
  }

  .reservation-details-reserve-table h2{
    color: black;
    margin-top: 15px;
    margin-bottom: 20px;
  }

  .names-container {
    display: flex;
    align-items: center;
  }

  .names-container input{
    width: 107px;
  }

  .info-container {
    display: flex;
    align-items: center;
  }

  .info-container input{
    width: 100%;
  }

  .notes-container input{
    width: 100%;
  }
